html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.whole-page {
    display: block;
    width: 100%;
}

.leaves {
    width: 50%;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.top-right {
    transform: rotate(180deg);
    position: fixed;
    right: 0px;
    top: 0px;
    left: auto;
    bottom: auto;
}

.text {
    height: 100px;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Kranky', cursive;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    
    z-index: 1;
}

#beige-circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #FDF7E8;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}
